.drawer {
  position: fixed;
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  right: 0;
  top: 0;
  width: calc(30vw);
  height: 100%;
  padding: 0;
  background-color: #fff;
  box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  transition: transform 200ms ease, visibility 200ms ease, opacity 200ms ease; }
  .drawer.drawer--opening {
    transform: translateX(0);
    visibility: visible;
    opacity: 1; }
  .drawer .drawer__header {
    padding-left: 30px;
    padding-right: 30px; }
    .drawer .drawer__header .drawer__header--fixed {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 10px 0px;
      border-bottom: 1px solid;
      border-bottom-color: #e8e8e1; }
      .drawer .drawer__header .drawer__header--fixed .drawer__close {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%); }
      .drawer .drawer__header .drawer__header--fixed .drawer__close-button {
        background: 0 0;
        border: none;
        display: inline-block;
        cursor: pointer; }
      .drawer .drawer__header .drawer__header--fixed .drawer__close-button svg {
        height: 28px;
        width: 28px;
        display: inline-block;
        vertical-align: middle; }
        .drawer .drawer__header .drawer__header--fixed .drawer__close-button svg path {
          stroke: black; }
  .drawer #CartContainer .ajaxcart-product {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 90%;
    margin: 10px 0px; }
    .drawer #CartContainer .ajaxcart-product .ajaxcart-product__remove {
      position: absolute;
      right: 0;
      top: 0;
      padding: 5px;
      background-color: transparent;
      border: none;
      cursor: pointer; }
    .drawer #CartContainer .ajaxcart-product .ajaxcart-product__image {
      flex-basis: 40%;
      display: flex;
      justify-content: center; }
      .drawer #CartContainer .ajaxcart-product .ajaxcart-product__image img {
        width: 100px;
        height: 150px; }
    .drawer #CartContainer .ajaxcart-product .ajaxcart-product__meta {
      flex-basis: 60%; }
      .drawer #CartContainer .ajaxcart-product .ajaxcart-product__meta h4 {
        margin: 0;
        letter-spacing: 0.06rem;
        line-height: 1.8; }
      .drawer #CartContainer .ajaxcart-product .ajaxcart-product__meta span {
        display: block; }

.js-drawer-open {
  overflow: hidden; }

.js-drawer-closing #MainContent:after, .js-drawer-open #MainContent:after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e6e6e6;
  opacity: 0;
  z-index: 26; }

.js-drawer-open #MainContent:after {
  animation: overlay-on 0.35s forwards; }

.js-drawer-closing #MainContent:after {
  animation: overlay-off 0.25s forwards; }

@keyframes overlay-on {
  0% {
    opacity: 0; }
  to {
    opacity: 0.6; } }
@keyframes overlay-off {
  0% {
    opacity: 0.6; }
  to {
    opacity: 0; } }

/*# sourceMappingURL=component-cart.css.map */
